__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
env/
venv/
ENV/
*.db
*.sqlite
*.sqlite3
.DS_Store
node_modules/
.vscode/
.idea/
*.swp
*.swo
*~
.coverage
htmlcov/
